<!doctype html>
<html lang=en>

<head>
    <title>jukebox.stop.wtf</title>
    <link rel=stylesheet href=/css/index.css>
</head>

<body>
    <div class=header>
        <h1 class=page-title>jukebox.stop.wtf</h1>
    </div>
    <div class="main-content">
        {{{ content }}}
    </div>
    <div class="footer">
        <p>made with love by annika</p>
    </div>
    <script src="/jukebox.js"></script>
</body>

</html>
